// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$hamburger-icon-name: 'hamburger-icon';
$hamburger-icon-x: 282px;
$hamburger-icon-y: 262px;
$hamburger-icon-offset-x: -282px;
$hamburger-icon-offset-y: -262px;
$hamburger-icon-width: 40px;
$hamburger-icon-height: 17px;
$hamburger-icon-total-width: 338px;
$hamburger-icon-total-height: 327px;
$hamburger-icon-image: '../images/sprite.png';
$hamburger-icon: (282px, 262px, -282px, -262px, 40px, 17px, 338px, 327px, '../images/sprite.png', 'hamburger-icon', );
$logo-name: 'logo';
$logo-x: 282px;
$logo-y: 54px;
$logo-offset-x: -282px;
$logo-offset-y: -54px;
$logo-width: 52px;
$logo-height: 52px;
$logo-total-width: 338px;
$logo-total-height: 327px;
$logo-image: '../images/sprite.png';
$logo: (282px, 54px, -282px, -54px, 52px, 52px, 338px, 327px, '../images/sprite.png', 'logo', );
$process-icon-1-hover-name: 'process-icon-1-hover';
$process-icon-1-hover-x: 0px;
$process-icon-1-hover-y: 188px;
$process-icon-1-hover-offset-x: 0px;
$process-icon-1-hover-offset-y: -188px;
$process-icon-1-hover-width: 94px;
$process-icon-1-hover-height: 94px;
$process-icon-1-hover-total-width: 338px;
$process-icon-1-hover-total-height: 327px;
$process-icon-1-hover-image: '../images/sprite.png';
$process-icon-1-hover: (0px, 188px, 0px, -188px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-1-hover', );
$process-icon-1-name: 'process-icon-1';
$process-icon-1-x: 94px;
$process-icon-1-y: 0px;
$process-icon-1-offset-x: -94px;
$process-icon-1-offset-y: 0px;
$process-icon-1-width: 94px;
$process-icon-1-height: 94px;
$process-icon-1-total-width: 338px;
$process-icon-1-total-height: 327px;
$process-icon-1-image: '../images/sprite.png';
$process-icon-1: (94px, 0px, -94px, 0px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-1', );
$process-icon-2-hover-name: 'process-icon-2-hover';
$process-icon-2-hover-x: 0px;
$process-icon-2-hover-y: 94px;
$process-icon-2-hover-offset-x: 0px;
$process-icon-2-hover-offset-y: -94px;
$process-icon-2-hover-width: 94px;
$process-icon-2-hover-height: 94px;
$process-icon-2-hover-total-width: 338px;
$process-icon-2-hover-total-height: 327px;
$process-icon-2-hover-image: '../images/sprite.png';
$process-icon-2-hover: (0px, 94px, 0px, -94px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-2-hover', );
$process-icon-2-name: 'process-icon-2';
$process-icon-2-x: 94px;
$process-icon-2-y: 94px;
$process-icon-2-offset-x: -94px;
$process-icon-2-offset-y: -94px;
$process-icon-2-width: 94px;
$process-icon-2-height: 94px;
$process-icon-2-total-width: 338px;
$process-icon-2-total-height: 327px;
$process-icon-2-image: '../images/sprite.png';
$process-icon-2: (94px, 94px, -94px, -94px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-2', );
$process-icon-3-hover-name: 'process-icon-3-hover';
$process-icon-3-hover-x: 188px;
$process-icon-3-hover-y: 0px;
$process-icon-3-hover-offset-x: -188px;
$process-icon-3-hover-offset-y: 0px;
$process-icon-3-hover-width: 94px;
$process-icon-3-hover-height: 94px;
$process-icon-3-hover-total-width: 338px;
$process-icon-3-hover-total-height: 327px;
$process-icon-3-hover-image: '../images/sprite.png';
$process-icon-3-hover: (188px, 0px, -188px, 0px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-3-hover', );
$process-icon-3-name: 'process-icon-3';
$process-icon-3-x: 188px;
$process-icon-3-y: 94px;
$process-icon-3-offset-x: -188px;
$process-icon-3-offset-y: -94px;
$process-icon-3-width: 94px;
$process-icon-3-height: 94px;
$process-icon-3-total-width: 338px;
$process-icon-3-total-height: 327px;
$process-icon-3-image: '../images/sprite.png';
$process-icon-3: (188px, 94px, -188px, -94px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-3', );
$process-icon-4-hover-name: 'process-icon-4-hover';
$process-icon-4-hover-x: 0px;
$process-icon-4-hover-y: 0px;
$process-icon-4-hover-offset-x: 0px;
$process-icon-4-hover-offset-y: 0px;
$process-icon-4-hover-width: 94px;
$process-icon-4-hover-height: 94px;
$process-icon-4-hover-total-width: 338px;
$process-icon-4-hover-total-height: 327px;
$process-icon-4-hover-image: '../images/sprite.png';
$process-icon-4-hover: (0px, 0px, 0px, 0px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-4-hover', );
$process-icon-4-name: 'process-icon-4';
$process-icon-4-x: 94px;
$process-icon-4-y: 188px;
$process-icon-4-offset-x: -94px;
$process-icon-4-offset-y: -188px;
$process-icon-4-width: 94px;
$process-icon-4-height: 94px;
$process-icon-4-total-width: 338px;
$process-icon-4-total-height: 327px;
$process-icon-4-image: '../images/sprite.png';
$process-icon-4: (94px, 188px, -94px, -188px, 94px, 94px, 338px, 327px, '../images/sprite.png', 'process-icon-4', );
$service-icon-management-name: 'service-icon-management';
$service-icon-management-x: 282px;
$service-icon-management-y: 161px;
$service-icon-management-offset-x: -282px;
$service-icon-management-offset-y: -161px;
$service-icon-management-width: 44px;
$service-icon-management-height: 56px;
$service-icon-management-total-width: 338px;
$service-icon-management-total-height: 327px;
$service-icon-management-image: '../images/sprite.png';
$service-icon-management: (282px, 161px, -282px, -161px, 44px, 56px, 338px, 327px, '../images/sprite.png', 'service-icon-management', );
$service-icon-package-name: 'service-icon-package';
$service-icon-package-x: 282px;
$service-icon-package-y: 106px;
$service-icon-package-offset-x: -282px;
$service-icon-package-offset-y: -106px;
$service-icon-package-width: 48px;
$service-icon-package-height: 55px;
$service-icon-package-total-width: 338px;
$service-icon-package-total-height: 327px;
$service-icon-package-image: '../images/sprite.png';
$service-icon-package: (282px, 106px, -282px, -106px, 48px, 55px, 338px, 327px, '../images/sprite.png', 'service-icon-package', );
$service-icon-print-name: 'service-icon-print';
$service-icon-print-x: 282px;
$service-icon-print-y: 0px;
$service-icon-print-offset-x: -282px;
$service-icon-print-offset-y: 0px;
$service-icon-print-width: 56px;
$service-icon-print-height: 54px;
$service-icon-print-total-width: 338px;
$service-icon-print-total-height: 327px;
$service-icon-print-image: '../images/sprite.png';
$service-icon-print: (282px, 0px, -282px, 0px, 56px, 54px, 338px, 327px, '../images/sprite.png', 'service-icon-print', );
$service-icon-video-name: 'service-icon-video';
$service-icon-video-x: 188px;
$service-icon-video-y: 188px;
$service-icon-video-offset-x: -188px;
$service-icon-video-offset-y: -188px;
$service-icon-video-width: 56px;
$service-icon-video-height: 55px;
$service-icon-video-total-width: 338px;
$service-icon-video-total-height: 327px;
$service-icon-video-image: '../images/sprite.png';
$service-icon-video: (188px, 188px, -188px, -188px, 56px, 55px, 338px, 327px, '../images/sprite.png', 'service-icon-video', );
$slider-arrow-left-name: 'slider-arrow-left';
$slider-arrow-left-x: 282px;
$slider-arrow-left-y: 217px;
$slider-arrow-left-offset-x: -282px;
$slider-arrow-left-offset-y: -217px;
$slider-arrow-left-width: 45px;
$slider-arrow-left-height: 45px;
$slider-arrow-left-total-width: 338px;
$slider-arrow-left-total-height: 327px;
$slider-arrow-left-image: '../images/sprite.png';
$slider-arrow-left: (282px, 217px, -282px, -217px, 45px, 45px, 338px, 327px, '../images/sprite.png', 'slider-arrow-left', );
$slider-arrow-right-name: 'slider-arrow-right';
$slider-arrow-right-x: 0px;
$slider-arrow-right-y: 282px;
$slider-arrow-right-offset-x: 0px;
$slider-arrow-right-offset-y: -282px;
$slider-arrow-right-width: 45px;
$slider-arrow-right-height: 45px;
$slider-arrow-right-total-width: 338px;
$slider-arrow-right-total-height: 327px;
$slider-arrow-right-image: '../images/sprite.png';
$slider-arrow-right: (0px, 282px, 0px, -282px, 45px, 45px, 338px, 327px, '../images/sprite.png', 'slider-arrow-right', );
$x-icon-name: 'x-icon';
$x-icon-x: 244px;
$x-icon-y: 188px;
$x-icon-offset-x: -244px;
$x-icon-offset-y: -188px;
$x-icon-width: 30px;
$x-icon-height: 33px;
$x-icon-total-width: 338px;
$x-icon-total-height: 327px;
$x-icon-image: '../images/sprite.png';
$x-icon: (244px, 188px, -244px, -188px, 30px, 33px, 338px, 327px, '../images/sprite.png', 'x-icon', );
$spritesheet-width: 338px;
$spritesheet-height: 327px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($hamburger-icon, $logo, $process-icon-1-hover, $process-icon-1, $process-icon-2-hover, $process-icon-2, $process-icon-3-hover, $process-icon-3, $process-icon-4-hover, $process-icon-4, $service-icon-management, $service-icon-package, $service-icon-print, $service-icon-video, $slider-arrow-left, $slider-arrow-right, $x-icon, );
$spritesheet: (338px, 327px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
