mixin testimonials()
	div.section-testimonials-wrap
			section.section
				div.l-section-header
					header.section-header
						div.section-header__line.section-header__line_light
						h2.section-header__title.section-header__title_light what our customers think
						div.section-header__line.section-header__line_light

				div.testimonials-content
					p.testimonials-content__text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor gravida at eget metus. 
					div.l-testimonials-content__link
						a(href="#").testimonials-content__link Barclay Widerski
