mixin process() 
		div.section-process-wrap
			section.section
				div.l-section-header
					header.section-header
						div.section-header__line.section-header__line_light
						h2.section-header__title.section-header__title_light our process
						div.section-header__line.section-header__line_light

				div.l-process-text
					p.process-text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna posuere velit aliquet
				div.l-process-steps
					div.process-steps
						.process-step
							span.process-step__icon.process-step__icon_1
							p.process-step__name 1.creative ideas
						.process-step
							span.process-step__icon.process-step__icon_2
							p.process-step__name 2.rapid solution
						.process-step
							span.process-step__icon.process-step__icon_3
							p.process-step__name 3.magic touch
						.process-step
							span.process-step__icon.process-step__icon_4
							p.process-step__name 4.award winning
