#slides{
	position: relative;
	height: 550px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slider-content {
	position: relative;
	max-width:1170px;
	margin:0 auto;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}



.slide{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
}

.slide:nth-of-type(1){
	background-color: red;
	background-image: url('../images/slide-1.jpg');
}

.slide:nth-of-type(2){
	background-color: green;
	background-image: url('../images/slide-2.jpg');
}

.slide:nth-of-type(3){
	background-color: green;
	background-image: url('../images/slide-3.jpg');
}

.slide:nth-of-type(4){
	background-color: green;
	background-image: url('../images/slide-4.jpg');
}

.controls{
	cursor: pointer;
	display: none;
	outline: none;
	border: 0;
	margin: 0 20px;

	&#previous {
		@include sprite($slider-arrow-left);
	}

	&#next {
		@include sprite($slider-arrow-right);
		float:right;
	}
}

.controls:hover,
.controls:focus{
	background: #eee;
	color: #333;
}

.container{
	position: relative;
}

.buttons{
	position: absolute;
	left: 0px;
	top: calc(50% - 23px);
	z-index: 10;
	font-size: 0px;
	width:100%;
}

@media screen and (max-width:1200px) {
  .slider {
    display: none;
  }
}