mixin portfolio()
		section.section
			div.l-section-header
				header.section-header
					div.section-header__line
					h2.section-header__title our recent projects
					div.section-header__line

			div.projects
				.project
					div.l-project__img
						img.project__img(src="../images/portfolio-post-1.jpg", alt="projectImg")
					h3.project__title disk cover mockup
					span.project__content Music, PSD, Mockups
					p.project__text Nulla libero un pharetra augue etiam malesuada magna mollis. Nullam id dolor id nibh ultricies.
				.project
					div.l-project__img
						img.project__img(src="../images/portfolio-post-2.jpg", alt="projectImg")
					h3.project__title John doe business card
					span.project__content Corporate, Card
					p.project__text Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod erat a ante.
				.project
					div.l-project__img
						img.project__img(src="../images/portfolio-post-3.jpg", alt="projectImg")
					h3.project__title infographic elements
					span.project__content Element, Graphic
					p.project__text Euismod quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo.