mixin journal()
	section.section
		div.l-section-header
			header.section-header
				div.section-header__line
				h2.section-header__title from the journal
				div.section-header__line
		
		div.journal-posts
			.journal-post
				img.journal-post__img(src="../images/journal-post-1.jpg", alt="postImg")
				header.journal-header
					.journal-header__date 21 
						span.journal-header__date_littleFont feb
					div.journal-header__info
						h3.journal-header__title Ultricies Cras Ullamcorper Elit
						a.journal-header__link(href="#") ournal, Article  |  7 Comments
				p.journal-post__text Nulla libero un pharetra augue etiam malesuada magna mollis. Praesent commodo cursus magna scelerisque. 

			.journal-post
				img.journal-post__img(src="../images/journal-post-2.jpg", alt="postImg")
				header.journal-header
					.journal-header__date 21 
						span.journal-header__date_littleFont feb
					div.journal-header__info
						h3.journal-header__title Sem Elit Amet Vestibulum
						a.journal-header__link(href="#") Graphic, Article  | 13 Comments
				p.journal-post__text Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

			.journal-post
				img.journal-post__img(src="../images/journal-post-3.jpg", alt="postImg")
				header.journal-header
					.journal-header__date 21
						span.journal-header__date_littleFont feb
					div.journal-header__info
						h3.journal-header__title Vestibulum Magna Venenatis Tellus
						a.journal-header__link(href="#") Journal, Article, Poster  |  11 Comments
				p.journal-post__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo risus.