.l-navbar {
	background-color: #f5f5f5;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	border-top: 3px solid #414141;
	z-index:777;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items:center;
	max-width:1170px;
	height:110px;
	margin:0 auto;
	padding:28px 0;
}

.logo {
	@include sprite($logo);
	display: flex;
}

.main-menu {
	display: flex;
	align-items:center;
	justify-content: flex-end;
	width:100%;

	&__el {
		margin-left:47px;
		position:relative;
		display:block;

		&:hover .main-menu-lvl-2 {
			right:0;
			opacity:1;
		}

		&:hover .main-menu-lvl-2__link {
			@extend .main-menu__link;
			background:rgba(66,66,66,0.45); /* Будет полупрозрачным */
			transform:scale(1.05);
		}
	}

	.hamburger {
		display:none;
	}
	
	&__link {
		@include font("ralewayExtraBold", normal, 13px, $font-color, linespace(22, 14));
		letter-spacing: letspace(-15,14);
		text-transform: uppercase;
		display:block;
		padding:5px;

		&:hover {
			color: $color-green;
		}
	}

	&-lvl-2 {
		position:absolute;
		right:9999px;
		opacity:0;
		text-align: right;
		transition:0.25s linear opacity;

		&__el {
			padding-top:1px;
		}

		&__link {
			display:block;
		}
	}
}

.hamburger {
	@include sprite($hamburger-icon);
	display: none;
}

@media screen and (max-width:1200px) {
	.navbar {
		padding:28px 40px;
	}
}

@media screen and (max-width:900px) {
	.main-menu {
		display: none;

		&__link {
			color:#fff;
		}
	}

	.hamburger {
		display: flex;
	}

	.nav {
		display:flex;
		justify-content:flex-end;
		position: relative;
		align-items:center;
		padding-right:20px;

		&:hover {
			.hamburger {
				position: absolute;
				right:20;
				@include sprite($x-icon);
			}

			.main-menu {
				background-color: rgba(60,60,60, 0.9);
				min-width:150px;
				width:100%;
				position: relative;
				top:130px;
				right:0;
				display:flex;
				align-items:flex-end;
				flex-direction:column;
				padding: 0 20px 0 40px;

				&__el {
					&:hover .main-menu-lvl-2 {
							top:0;
							right:100%;
							z-index:999;
					}
				}
			}
		}
	}
}

@media screen and (max-width:480px) {
	.logo {
		display: none;
	}
}
