mixin navbar()
	div.l-navbar
		nav.navbar
			div.l-logo
				a.logo(href="#")
			
			nav.nav
				a.hamburger(href="#")
					span.hamburger__bg

				menu.main-menu
					li.main-menu__el
						a.main-menu__link(href="#")
							span.main-menu__cancel
					li.main-menu__el
						a.main-menu__link(href="#") home
					li.main-menu__el
						a.main-menu__link(href="#") pages
						ul.main-menu-lvl-2
							li.main-menu-lvl-2__el
								a.main-menu-lvl-2__link(href="#") Page 1
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzzz
					li.main-menu__el
						a.main-menu__link(href="#") journal
						ul.main-menu-lvl-2
							li.main-menu-lvl-2__el
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzzz
					li.main-menu__el
						a.main-menu__link(href="#") portfolio
						ul.main-menu-lvl-2
							li.main-menu-lvl-2__el
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzzz
					li.main-menu__el
						a.main-menu__link(href="#") features
						ul.main-menu-lvl-2
							li.main-menu-lvl-2__el
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzzz
					li.main-menu__el
						a.main-menu__link(href="#") contact
						ul.main-menu-lvl-2
							li.main-menu-lvl-2__el
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzz
								a.main-menu-lvl-2__link(href="#") zzzzzzzzzzzzzzzz