mixin service()
		section.section
			div.l-section-header
				header.section-header
					div.section-header__line
					h2.section-header__title what we do
					div.section-header__line

			div.service-posts
				div.service-post
					span.service-post__icon.service-post__icon-1
					h3.service-post__title print design
					p.service-post__text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
				div.service-post
					span.service-post__icon.service-post__icon-2
					h3.service-post__title motion video
					p.service-post__text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
				div.service-post
					span.service-post__icon.service-post__icon-3
					h3.service-post__title package design
					p.service-post__text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.
				div.service-post
					span.service-post__icon.service-post__icon-4
					h3.service-post__title time management
					p.service-post__text Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.