.l-footer {
	background-color: #333333;
}

.footer {
	min-height:90px;
	height:100%;
	display: flex;
	align-items:center;
	max-width:1170px;
	margin:0 auto;
}


.copyright {
	@include font("ralewayMedium", normal, 14px, #cacaca, linespace(20, 14));
}

@media screen and (max-width:1200px) {
	.footer {
		padding: 0 20px;
	}

	.copyright {
		margin:0 auto;
	}
}